body {
    position: relative;
    background: #8ec7d0 ;
    background-image: url(../img/body-bg.png);
    overflow-x: hidden;
}

strong {
    font-weight: bold;
}

a {
    color: inherit;
}

#ui-datepicker-div { font-size: 12px; }

#ui-timepicker-div { font-size: 12px; }

.outer {
    display: table; 
    position: static;
    margin: auto;
}

.middle {
    display: table-cell; 
    vertical-align: middle; 
    position: static;
}

.blue-btn {
    background: #4d90fe; 
    color: #fff; 
    border: 1px solid #3079ed; 
    padding: 5px; 
    margin: 10px 1px;
}

.blue-btn:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.grey-btn {
    background: #f1f1f1; 
    color: #444; 
    border: 1px solid rgba(0,0,0,0.1); 
    padding: 5px; 
    margin: 10px 1px;
}

.grey-btn:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.container {
    font: 14px 'Droid Sans' , SimHei, Arial, Helvetica, Sans-serif;
    color: #585858;
}

#wrapper {
    width: 100%;
}

#header {
    background: url(../img/top-bg.png) repeat-x left bottom;
    width: 100%;
    height: 180px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

#account-div {
    position: absolute;
    width: 960px;
    margin: auto;
    left: 50%;
    text-align: right;
    font: bold 12px  Arial, SimHei, Helvetica, Sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    overflow-x: hidden;
}

#account-div ul {
    position: relative;
    left: -50%;
    float: right;
    
}

#account-div ul li {
    float: left;
    margin-right: 20px;
}

#account-div ul li a {
    font: bold 12px  Arial, SimHei, Helvetica, Sans-serif;
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', Arial, sans-serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#nav-container {
    position: relative;
    float: left;
    left: 50%;
}

#nav {
    position: static;
    float: left;
    margin-left: -50%;
    font: bold 12px SimHei, Arial, Helvetica, Sans-serif;
    border: 1px solid #121314;
    overflow: hidden;
}

#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

#nav ul li {
    float:left;
}

#nav ul li a {
    float: left;
    color:#d4d4d4;
    padding: 0px 20px;
    line-height: 30px;
    text-decoration:none;
    background:#3C4042;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(59,63,65)), color-stop(0.55, rgb(72,76,77)), color-stop(0.78, rgb(75,77,77)) );
    background: -moz-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
    background: -o-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 5px rgba(0, 0, 0, 0.1) inset;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(0,0,0,0.2);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

#nav li ul {
    background:#3C4042;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
    background-image: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    background-image: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    position: absolute;
    left: -999em;
    top: 31px;
    width: 160px;
    text-align: left;
    z-index: 9999;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
    border: 1px solid #222;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#nav li ul a {
    background: none;
    border: 0 none;
    margin-right: 0;
    width: 120px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

#nav ul li a:hover,
#nav ul li:hover > a {
    background:#3C4042;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D4F4F', endColorstr='#454647'); /* for IE */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
    background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
}

#nav ul li.admin a:hover,
#nav ul li.admin:hover > a{
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}

#nav li ul a:hover, 
#nav ul li li:hover > a  {
    color: #2c2c2c;
    background: #5C9ACD;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D6FB1', endColorstr='#5C9ACD'); /* for IE */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.17, rgb(61,111,177)), color-stop(0.51, rgb(80,136,199)), color-stop(1, rgb(92,154,205)) );
    background: -moz-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
    background: -o-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
    border-bottom: 1px solid rgba(0,0,0,0.6);
    border-top: 1px solid #7BAED9;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

#nav ul li li:hover > a:first-child {
    border-top: none;
}

#nav li:hover ul {
    left: auto;
}


#nav li li ul {
    margin: 0 0 0 500px;
    visibility:hidden;
}

#nav li li:hover ul {
    visibility:visible;
}

h2 {
    width: 960px;
    text-align: left;
    margin: 80px auto 0 auto;
    font: bold 30px SimHei, Arial, Helvetica, Sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#content {
    background: url(../img/content-bg.png);
    width: 100%;
    text-align: center;
}

#content .container {
    width: 960px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#login-form-div {
    width: 500px;
    margin: auto;
}

#login-form {
    margin: auto;
    font-size: 14px;
}

#login-form table {
    margin: auto;
}

#login-form th {
    text-shadow: 1px 1px 1px #606060;
    color: #303030;
    font-size: 30px;
    padding-bottom: 10px;
}

#login-form td {
    text-shadow: 1px 1px 1px #606060;
    color: #303030;
}

#login-form td.field-name {
    text-align: right;
}

#login-form td.field {
    text-align: left;
}

#login-form .submit-btn {
    display: block;
}

#flash-message {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    z-index: 1002;
}

#flash-message .container {
    position: relative;
    width: 660px;
    margin: 0 auto;
    text-align: center;
}

#flash-message .message-list {
    margin: 0 20px 0 20px;
    padding: 8px 0 3px 0;
}

#flash-message .message-list li {
    padding-left: 0;
    margin-bottom: 5px;
}

#flash-message .success {
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

#flash-message .info {
    color: #3a87ad;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

#flash-message .warning {
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

#flash-message .alert {
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

/*#flash-overlay {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8; display: block;
    z-index: 1001;
}

#flash-message {
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 1002;
    overflow: hidden;
}

#flash-message .container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:#fff;
    border: 1px solid #909090;
    opacity: 1.0;
    margin: auto;
    width: 400px;
    height: 350px;
    margin-left: -200px;
    margin-top: -175px;
    text-align: center;
}

#flash-message .title {
    width: 100%;
    color: #3a87ad;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

#flash-message .message-list {
    margin: 0 20px;
    padding: 8px 35px 3px 14px;
    text-align: left;
}

#flash-message .message-list li {
    background: url(../img/bullet.png) no-repeat left center;
    padding-left: 15px;
    margin-bottom: 5px;
}

#flash-message .success {
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

#flash-message .info {
    color: #3a87ad;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

#flash-message .warning {
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

#flash-message .alert {
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

#flash-message .already-read-btn {
    position: relative;
    background: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    padding: 5px;
    margin: 15px auto 0 auto;
}*/

#notices-div {
    text-align: left;
}

.notice {
    width: 600px;
}

.notice .notice-title {
    font: italic bold 24px Lobster, SimHei, Arial, Helvetica, Sans-serif;
    color: #111;
    padding-bottom: 8px;
}

.notice .meta-info {
    font: 14px Lobster, SimHei, Arial, Helvetica, Sans-serif;
    color: #585858;
    margin-bottom: 20px;
}

.notice .notice-content {
    font: 15px Arial,SimHei,Helvetica, Sans-serif;
    color: #111;
    line-height: 16px;
}

.notice-content p {
    line-height: 125%;
    margin-bottom: 10px;
}

#notices-div .horizontal-hr {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #fff;
    width: 600px;
}

#notice-create-div {
    text-align: left;
    width: 600px;
}

#notice-create-div form > div {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

#notice-create-div div .title {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

/*#notice-create-div div.author{
    width: 100%;
    box-sizing: border-box;
    font: 16px Lobster, SimHei, Arial, Helvetica, Sans-serif;
}*/

#notice-create-div div .content {
    width: 600px;
    height: 400px;
    margin: 0;
    box-sizing: border-box;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.625;
}

#manualenquiry-form-div {
    width: 600px;
    font-family: 'Droid Sans', SimHei, Arial, sans-serif;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 15px;
}

#manualenquiry-form {
    width: 600px;
}

#manualenquiry-form table {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 600px;
    background: #efefef;
}

#manualenquiry-form th {
    width: 150px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#manualenquiry-form td {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    text-align: left;
}

#manualenquiry-form td.section {
    text-align: center;
}

#manualenquiry-form input[type="text"] {
    width: 150px;
}

#manualenquiry-form td.section {
    background: #e3e3e3;
}

.input-prompt {
    font-style: italic;
    color: #aaa;
}

#customers-filter {
    width: 960px;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
}

#customers-filter table {
    width: 960px;
    background: #efefef;
    text-align: left;
}

#customers-filter .filter-title {
    background: #e3e3e3;
    text-align: center;
    padding: 5px 0;
}

#customers-filter th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    border: 1px solid #e3e3e3;
}

#customers-filter .ui-datepicker {
    font-size:11px;
}

#customers-filter td {
    border: 1px solid #e3e3e3;
    vertical-align: middle;
}

#customers-sorting {
    width: 960px;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
}

#customers-sorting table {
    width: 960px;
    background: #efefef;
    text-align: left;
}

#customers-sorting .sorting-title {
    background: #e3e3e3;
    text-align: center;
    padding: 5px 0;
}

#customers-sorting td {
    border: 1px solid #e3e3e3;
    vertical-align: middle;
    padding: 10px 0;
}

.applied-filter {
    background: #e3e3e3;
    text-align: center;
    padding: 5px 0;
    width: 960px;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
}

#customers-div {
    width: 960px;
    text-align: left;
    margin-top: 50px;
}

.customer {
    border: 1px solid #333;
    margin-bottom: 50px;
}

.customer-info-table {
    width: 100%;
    background: #efefef;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
}

.customer-info-table td {
    padding: 8px 0;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
    width: 240px;
}

.customer .stage {
    background: #efefef;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
}

.customer .stage .stage-description {
    background: #333;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px #414141;
}

.customer .stage .stage-journal td{
    padding: 10px 0;
    border: 1px solid #e3e3e3;
}

.customer .action {
    padding: 10px 10px;
    background: #efefef;
}

.customer .action button {
    background: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    padding: 5px;
    margin: 0;
}

.customer .action button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

#popup-action {
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 1002;
    overflow: hidden;
}

#popup-action .outer {
    height: 100%;
}

#popup-action .inner {
    background-color:#fff;
    border: 1px solid #909090;
    text-align: left;
    padding: 20px;
    color: #414141;
    text-shadow: 1px 1px 1px #ffffff;
}

#popup-action table td {
    padding: 0 10px 10px 0;
}

#footer {
    background: url('../img/footer-topbg.png') repeat-x;
    padding-top: 60px;
    padding-bottom: 60px;
}

#footer-list {
    width: 960px;
    margin: auto;
    padding: 0;
}

#footer-list li {
    width: 30%;
}

#footer-list li p.title {
    font: bold 24px Lobster, SimHei, Arial, Helvetica, Sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    margin-bottom: 20px;
}

#footer-list li p.description {
    font: 15px Lobster, SimHei, Arial, Helvetica, Sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

#footer .horizontal-hr {
    border-top: 1px solid #7ebac3;
    border-bottom: 1px solid #a8d7df;
    width: 960px;
    margin: 30px auto 20px auto;
}

#footer-remark {
    width: 960px;
    margin: auto;
    font: 16px Lobster, SimHei, Arial, Helvetica, Sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    text-align: right;
}