body {
    background: #8ec7d0 ;
    background-image: url(../img/body-bg.png);
}

#wrapper {
    width: 100%;
}

#header {
    background: url(../img/top-bg.png) repeat-x left bottom;
    width: 100%;
    height: 180px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

h1 {
    font-family: 'Lobster', Arial, sans-serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#nav-container {
    position: relative;
    float: left;
    left: 50%;
}

#nav {
    position: relative;
    float: left;
    left: -50%;
    font: bold 12px Arial, Helvetica, Sans-serif;
    border: 1px solid #121314;
    overflow: hidden;
}

#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}

#nav ul li {
    float:left;
}

#nav ul li a {
    float: left;
    color:#d4d4d4;
    padding: 0px 20px;
    line-height: 30px;
    text-decoration:none;
    background:#3C4042;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(59,63,65)), color-stop(0.55, rgb(72,76,77)), color-stop(0.78, rgb(75,77,77)) );
    background: -moz-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
    background: -o-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 5px rgba(0, 0, 0, 0.1) inset;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(0,0,0,0.2);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

#nav li ul {
    background:#3C4042;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
    background-image: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    background-image: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    left: -999em;
    margin: 35px 0 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset; 
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#nav li ul a {
    background: none;
    border: 0 none;
    margin-right: 0;
    width: 120px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

#nav ul li a:hover,
#nav ul li:hover > a {
    background:#3C4042;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D4F4F', endColorstr='#454647'); /* for IE */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
    background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;

}

#nav li ul a:hover, 
#nav ul li li:hover > a  {
    color: #2c2c2c;
    background: #5C9ACD;
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.17, rgb(61,111,177)), color-stop(0.51, rgb(80,136,199)), color-stop(1, rgb(92,154,205)) );
    background: -moz-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
    background: -o-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
    border-bottom: 1px solid rgba(0,0,0,0.6);
    border-top: 1px solid #7BAED9;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}



#nav li:hover ul {
    left: auto;
}


#nav li li ul {
    margin: 0 0 0 160px;
    visibility:hidden;
}

#nav li li:hover ul {
    visibility:visible;
}

#nav ul ul li:last-child > a {
    border-radius:0 0 10px 10px;
}

#nav ul ul ul li:first-child > a {
    border-radius:0 10px 0 0;
}

h2 {
    width: 960px;
    text-align: left;
    margin: 80px auto 0 auto;
    font: bold 30px Arial, Helvetica, Sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#content {
    background: url(../img/content-bg.png);
    width: 100%;
    height: 500px;
    text-align: center;
}

#content .container {
    width: 960px;
    margin: auto;
    padding-top: 50px;
}

#login-form-div {
    width: 500px;
    margin: auto;
}

#login-form {
    margin: auto;
    font-size: 14px;
}

#login-form table {
    margin: auto;
}

#login-form th {
    text-shadow: 1px 1px 1px #606060;
    color: #303030;
    font-size: 30px;
    padding-bottom: 10px;
}

#login-form td {
    text-shadow: 1px 1px 1px #606060;
    color: #303030;
}

#login-form td.field-name {
    text-align: right;
}

#login-form td.field {
    text-align: left;
}

#login-form .submit-btn {
    display: block;
}

#flash-overlay {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8; display: block;
    z-index: 1001;
}

#flash-message {
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 1002;
    overflow: hidden;
}

#flash-message .container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:#fff;
    border: 1px solid #909090;
    opacity: 1.0;
    margin: auto;
    width: 660px;
    height: 450px;
    margin-left: -330px;
    margin-top: -225px;
    text-align: center;
}

#flash-message .message-list {
    padding: 8px 35px 3px 14px;
    text-align: left;
}

#flash-message .message-list li {
    background: url(../img/bullet.png) no-repeat left center;
    padding-left: 15px;
    margin-bottom: 5px;
}

#flash-message .success {
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

#flash-message .info {
    color: #3a87ad;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

#flash-message .warning {
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

#flash-message .alert {
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

#flash-message .already-read-btn {
    position: relative;
    background: #4d90fe;
    color: #fff;
    border: 1px solid #3079ed;
    padding: 5px;
    margin: 15px auto 0 auto;
}